In [ ]:
pip install mysql-connector-python

In [ ]:
python.exe -m pip install --upgrade pip

In [ ]:
pip install --upgrade pip

In [ ]:
import mysql.connector as conn

In [ ]:
mydb=conn.connect(host= 'localhost', user='root',password="Ankul@123")

In [ ]:
mydb

In [ ]:
cursor=mydb.cursor()

In [ ]:
cursor.execute("show databases")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("create database testankul")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("show databases")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("create table testankul.ineuron (studentid INT(10 ),firstname VARCHAR(30),lastname VARCHAR(30),regid INT(10),classname VARCHAR(30))")

In [ ]:
create table testankul.ineuron (studentid INT(10 ),firstname VARCHAR(30),lastname VARCHAR(30),regid INT(10),classname VARCHAR(30))

In [ ]:
cursor.execute("use testankul")

In [ ]:
cursor.execute('show tables')

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from ineuron")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute('insert into testankul.ineuron values(33787,"AMAN","Maurya",22256,"data Science")')

In [ ]:
cursor.execute("select * from ineuron")

In [ ]:
cursor.fetchall()

In [ ]:
mydb.commit()

In [ ]:
cursor.execute('create table testankul.glassdata(col1 INT(10),col2 float(10,5),col3 float(10,5), col4 float(10,5), col5 float(10,5), col6 float(10,5),col7 float(10,5),col8 float(10,5),col9 float(10,5),col10 float(10,5),col11 INT(10))')

In [ ]:
cursor.execute("show tables")

In [ ]:
cursor.fetchall()

In [ ]:
ls

In [ ]:
file=open("glass (1).data","r")

In [ ]:
file.read()

In [ ]:
import csv 
with open("glass (1).data","r") as f:
    glass_data=csv.reader(f,delimiter= "\n")
    for i in glass_data:
        print(i)
    #print(glass_data)

In [ ]:
cursor.execute('insert into testankul.glassdata values(1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1)')

In [ ]:
mydb.commit()

In [ ]:
glass_data=csv.reader(f,delimiter= "\n")
for i in glass_data:
    cursor.execute('insert into testankul.glassdata values(i)')

In [ ]:
with open("glass (1).data","r") as f:
    glass_data=csv.reader(f,delimiter= "\n")
    for i in glass_data:
        cursor.execute(f'insert into testankul.glassdata values({str(i[0])})')
mydb.commit()

In [ ]:
with open("glass (1).data","r") as f:
    glass_data=csv.reader(f,delimiter= "\n")
    for i in glass_data:
        print(i[0])

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from glassdata")

In [ ]:
cursor.fetchall()

In [ ]:
with open("glass (1).data","r") as f:
    glass_data=csv.reader(f,delimiter= "\n")
    for i in glass_data:
        print(type(i[0]))
        cursor.execute(f'insert into testankul.glassdata values({str(i[0])})')
mydb.commit()

In [1]:
import pandas as pd

In [2]:
pd.read_sql("select * from testankul.glassdata",mydb)

AttributeError: module 'pandas' has no attribute 'read_sql'

In [3]:
pd.read_sql("use testankul",mydb)

AttributeError: module 'pandas' has no attribute 'read_sql'